Repository C01-GlucoseGuardian/WebBackend, pull requests merged in 2023-01, with the labels that each got.

#3 Create Entities Dottore e Glicemia
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Dottore.java
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Glicemia.java
Labels: entity, toedit

#6 Update Glicemia.java
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Glicemia.java
Labels: entity

#5 Add Farmaco and ProfiloTutore entity skeleton
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Farmaco.java
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/ProfiloTutore.java
Labels: entity

#9 Add Entity Paziente and AssunzioneFarmaco
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/AssunzioneFarmaco.java
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Paziente.java
Labels: entity

#11 Format Code and Edit Dottore Class
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Dottore.java
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Glicemia.java
Labels: style

#4 Created Entities Feedback and NumDiTelefono
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/Feedback.java
  src/main/java/com/GlucoseGuardian/WebBackend/storage/entity/NumeroTelefono.java
Labels: entity

#8 rename packages
  pom.xml
  src/main/java/com/glucoseguardian/webbackend/WebBackendApplication.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/.gitkeep
  src/main/java/com/glucoseguardian/webbackend/storage/entity/AssunzioneFarmaco.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Dottore.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Farmaco.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Feedback.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Glicemia.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/NumeroTelefono.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Paziente.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/ProfiloTutore.java
Labels: enhancement, toedit

#10 Entity: Add Admin and Notifica
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Admin.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Notifica.java
Labels: entity

#17 Entity association: Admin, Notifica
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Admin.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Notifica.java
Labels: enhancement, entity

#13 Associations Terapia Dottore Glicemia Edit Feedback
  src/main/java/com/glucoseguardian/webbackend/storage/entity/AssunzioneFarmaco.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Dottore.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Feedback.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Glicemia.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Terapia.java
Labels: enhancement, entity

#16 Associazioni Paziente e AssunzioneFarmaco
  src/main/java/com/glucoseguardian/webbackend/storage/entity/AssunzioneFarmaco.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Paziente.java
Labels: enhancement, help wanted, entity, toedit

#14 Add relations of Farmaco and ProfiloTutore
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Farmaco.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/ProfiloTutore.java
Labels: enhancement, entity, style

#15 Added Relations and fixed style
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Feedback.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/NumeroTelefono.java
Labels: enhancement, entity, style

#18 Edit All
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Admin.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/AssunzioneFarmaco.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Dottore.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Farmaco.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Feedback.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Glicemia.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Notifica.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/NumeroTelefono.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Paziente.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/ProfiloTutore.java
  src/main/java/com/glucoseguardian/webbackend/storage/entity/Terapia.java
Labels: enhancement, entity
